extends layout

block content
  pre= h.dump(data)
  div.action-buttons
    a.btn.btn-primary(href=`/${type}/edit/${data._id}`) Edit
    a.btn.btn-danger.float-right(href=`/${type}/delete/${data._id}`) Delete
